body {
  padding: 50px;
  font: 14px Helvetica;
}

a {
  color: #00B7FF;
}

.status {
 color: white;
 background-color: deeppink;
 border-radius: 4px;
 padding: 2px 4px;
 font: bold italic 0.85em Georgia;
 margin-left: 0.5em;
}
